/* You can add global styles to this file, and also import other style files */
body {
	background-color: #F0FFFF;
	color: black;
}

.navbar-default {
	background-color: #ff66d9;
}

nav ul {
    display: inline-block;
    vertical-align: middle;
}

footer {
	border-radius: 8px;
	background-color: #ff66d9;
}

#searchBar {
	display: inline-block; 
	padding: 1em;
}
#searchBar .input-group-btn {
	display: block;
}

#blockButtons {
	border-left: 2px solid rgba(0,0,0,.3);
	padding-left: 1em;
}
#blockButtons li {
	min-width: 100%;
	clear: both;
}
#blockButtons li button {
	width: 100%;
	margin: 1px 0;
	padding: 0.5em;
	border: none;
	border-radius: 8px;
}

.btn_custom {
	background: #ff3399;
}
.btn_custom:hover {
	background: #cc0066;
}
.btn_custom:hover a{
	color: black;
	text-decoration: none;
}
a {
	color: black;
	text-decoration: none;
}

#footerText {
	font-weight: 800;
	padding: 1em 1em;
}