/* You can add global styles to this file, and also import other style files */
body {
	background-color: #C5C5C5;
	color: white;
}

a:hover {
	text-decoration: none;
}

input {
	color: black;
  max-width: 100%;
}

hr {
	margin: 0.5em 1em;
	border: 1px solid rgba(0,0,0,.3);
}

.containerEdit {
	max-width: 97%;
	margin: auto auto;
}

.btn_custom {
	background: #810000;
	color: white;
	border: none;
	border-radius: 8px;
	margin-bottom: 1em;
}
.btn_custom:hover {
	color: white;
	background: #5D0000;
}
.btn_custom:hover a{
	color: white;
	text-decoration: none;
}

.textOutline {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
