<div class="">
	<h1>Create new board:</h1>

	<div id="editBoard" class="editField">

		<h3 class="text-center">Board name:</h3>
		<div class="textBlock">
			<input type="text" name="boardName" placeholder="Board name">
		</div>
		
		<hr>

		<h3 class="text-center">Discussion:</h3>
		<div class="textBlock">
			<textarea class="discussion center-block" placeholder="Describe the subject here..."></textarea>
		</div>

		<div>
			<button class="btn_custom center-block">Create</button>
		</div>

	</div>


</div>
