header {
	margin-bottom: 2em;
}

footer {
	margin-top: 2em;
	font-weight: 800;
}
footer p {
	margin: 0;
}

#searchForm {
	display: block;
	margin: auto auto;
}
#searchBlock {
	padding: 0 1em;
}

#sideButtons a {
	padding: 0;
}
#sideButtons button {
	width: 100%;
	margin: 1px 0;
	padding: 0.5em;
}

#logo {
	padding: .2em;
}
#logo img {
	width: 60%;
	display: block;
	margin: auto auto;
}

.block {
	background: #AA3939;
	border-radius: 8px;
	padding: .5em;
}

#buttonsMenu {
	padding: 1em 1em;
}

.btn_custom {
	min-height: 2em;
	min-width: 5em;
}

.signed {
	
}
.unsigned {
}