
<form #f="ngForm" (ngSubmit)="login()" novalidate>
  
<div class="fieldWrap">
  <toaster-container [toasterconfig]="config1"></toaster-container>
    <h1>{{'TITLE_LOGIN' | translate}}</h1>
    <hr>
  		<div class="row">
			<div class="col-xs-6">
				<p class="boldLables text-right">{{'LBL_EMAIL' | translate}}: </p>
			</div>

        <!--<div *ngFor="let error of error"></div>-->

			<div class="col-xs-6">
        <input type="text" name="email" placeholder="test@example.com" [(ngModel)]="model.email" #email="ngModel" ngModel required
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />

        <div class="md-errors-spacer" [hidden]="email.valid || email.untouched">
          <div *ngIf="f.submitted && email.errors && email.errors.required">
            {{'ERR_EMAIL_REQUIRED' | translate}}
          </div>
          <div *ngIf="f.submitted && email.errors && email.errors.pattern">
            {{'ERR_EMAIL_INVALID' | translate}}
          </div>
        </div>
			</div>


		</div>

  		<div class="row">
			<div class="col-xs-6">
				<p class="boldLables text-right">{{'LBL_PASSWORD' | translate}}: </p>
			</div>
			<div class="col-xs-6">
        <input type="password" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" ngModel required
               pattern="^(?=.*[a-z])(?=.*[A-Z])?(?=.*\d)(?=.*[$@$!%*?&-])?[A-Za-z\d$@$!%*?&-]{8,}$"/>

        <div class="md-errors-spacer" [hidden]="password.valid || password.untouched">
          <div *ngIf="f.submitted && password.errors && password.errors.required">
            {{'ERR_PASSWORD_REQUIRED' | translate}}
          </div>
          <div *ngIf="f.submitted && password.errors && password.errors.pattern">
            {{'ERR_PASSWORD_INVALID' | translate}}
          </div>
        </div>

			</div>
		</div>

  		<button [disabled]="loading"  class="btn-default btn_custom center-block">{{'BTN_LOGIN_TEXT' | translate}}</button>
</div>
</form>
