<div class="containerEdit">

<div class="row block">
	<div id="chat" class="col-xs-9 col-md-11">
		<div class="message">
			<a href="">Roam: </a>
			<p>єє бой</p>
		</div>
		<div class="message">
			<a href="">Бояновський: </a>
			<p>єє сан</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Cancer</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
	</div>
</div>

<div class="row block">
	<div class="col-xs-9 col-md-11">
		<input type="text" name="message" placeholder="Enter message">
	</div>
	<div class="col-xs-3 col-md-1">
		<button class="btn_custom">Send</button>
	</div>
</div>

</div>
