<div class="containerEdit">
	


<div id="OPMessage" class="message">
	<h4>Title</h4>
	<p>OP text goes here</p>
	<div class="replyList">
		<a href="">[Reply ID]</a>
		<a href="">[Reply ID]</a>
		<a href="">[Reply ID]</a>
		<a href="">[Reply ID]</a>
		<a href="">[Reply ID]</a>
	</div>
</div>
<div class="message">
	<h6>[Reply ID] - reply to OP</h6>
	<p>My random reply, lol</p>
	<div class="replyList">
		<a href="">[Reply ID]</a>
		<a href="">[Reply ID]</a>
	</div>
</div>
<div class="message">
	<h6>[Reply ID] - replty to <a href="">[Reply ID]</a></h6>
	<p>My random reply, lol</p>
	<div class="replyList">
		<a href="">[Reply ID]</a>
	</div>
</div>
<div class="message">
	<h6>[Reply ID] - reply to <a href="">[Reply ID]</a></h6>
	<p>My random reply, lol</p>
	<div class="replyList">
		<a href="">[Reply ID]</a>
		<a href="">[Reply ID]</a>
		<a href="">[Reply ID]</a>
		<a href="">[Reply ID]</a>
	</div>
</div>

<div>
	<input type="text" name="postMessage" placeholder="Enter repty to board">
	<button class="btn_custom center-block">Submit</button>
</div>


</div>
