.OPMessage {
  margin: 0 0;
  margin-bottom: 1em;
  background: #810000;
  border: 2px solid rgba(0,0,0,.7);
  border-radius: 8px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.OPMessage h4 {
  margin: .5em 3em;
}

.OPMessage p {
  padding: 1em 1em;
  border: 2px solid rgba(0,0,0,.5);
  border-left: none;
  border-right: none;
}

.message {
  margin: 0em 1em;
  margin-bottom: 1em;
  background: #D39797;
  border: 2px solid rgba(0,0,0,.7);
  border-radius: 8px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.messageGlow {
  box-shadow: 0px 0px 15px 2px red;
}

.replyToCheckbox {
  float: right;
  margin: .5em;
  width: 1em;
}

h6 {
  margin-left: 1em;
  font-style: italic;
}

.message h6 a {
  font-style: italic;
  color: white;
}

.message p {
  padding: 1em 1em;
  border: 2px solid rgba(0,0,0,.5);
  border-left: none;
  border-right: none;
}

.replyList {
  margin: 0em 1em;
}

  .replyList a {
    color: white;
    font-size: 10px;
    font-weight: 800;
  }
