<div class="containerEdit">

<div class="row block">
	<div id="menu" class="col-xs-12 col-sm-3 col-sm-push-9">
		<p>Side menu</p>
		<p>Side menu</p>
	</div>
	<div id="chat" class="col-xs-12 col-sm-9 col-sm-pull-3">
		<div class="message">
			<a href="">Бояновський: </a>
			<p>Чо там як?</p>
		</div>
		<div class="message">
			<a href="">Йомка: </a>
			<p>єєєєє бой</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
		<div class="message">
			<a href="">Міха: </a>
			<p>Тестове повідомлення</p>
		</div>
	</div>
</div>

<div class="row block">
	<div class="col-xs-9 col-md-11">
		<input type="text" name="message" placeholder="Enter message">
	</div>
	<div class="col-xs-3 col-md-1">
		<button class="btn_custom">Send</button>
	</div>
</div>

</div>