<div class="containerEdit">

  <div id="topBar">
    <div class="row">
      <div class="col-xs-9 col-md-10">
        <h1 id="pageLabel" class="textOutline">Available boards:</h1>
      </div>
      <div class="col-xs-3 col-md-2">
        <a id="addBtnLink" routerLink="/boards/create"><button class="btn-default btn_custom">New board</button></a>
      </div>
    </div>
  </div>

	<div id="boardList">
		<app-board-view *ngFor="let board of boards" [board]="board" [curUserId]="curUserId"></app-board-view>
	</div>

</div>
