<div class="containerEdit">

  <div id="topBar">
    <div class="row">
      <div class="col-xs-9 col-md-10">
        <h1 id="pageLabel" class="textOutline">Available boards:</h1>
      </div>
      <div class="col-xs-3 col-md-2">
        <a id="addBtnLink" routerLink="/boards/create"><button class="btn-default btn_custom">New board</button></a>
      </div>
    </div>
  </div>

  <form id="searchForm">
    <div class="input-group">
      <div class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="this.getBoards()">
          <i class="glyphicon glyphicon-refresh"></i>
        </button>
      </div>
      <input type="text" class="form-control" placeholder="Find board by name" name="findBoard" #findBoard>
      <div class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="getBoards(findBoard.value)">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>

  <div id="boardList">
    <app-board-view *ngFor="let board of boards" [board]="board" [curUserId]="curUserId"></app-board-view>
  </div>

</div>
