<h1 class="name textOutline">Available boards:</h1>
<div id="topForm">
	<a id="addBtnLink" routerLink="/board-feed/createboard"><button class="btn-default btn_custom">New board</button></a>
</div>

<div id="boardList">
	<a class="row" href="">
		<p class="col-xs-8 col-md-9">"Sample board name" - [number of replies]</p>
		<p class="col-xs-4 col-md-3">[Likes] / [Dislikes]</p>
	</a>
	<a  class="row" href="">
		<p class="col-xs-8 col-md-9">"Sample board name 2" - [number of replies]</p>
		<p class="col-xs-4 col-md-3">[Likes] / [Dislikes]</p>
	</a>
	<a  class="row" href="">
		<p class="col-xs-8 col-md-9">"Sample board name 3" - [number of replies]</p>
		<p class="col-xs-4 col-md-3">[Likes] / [Dislikes]</p>
	</a>
</div>
