<div class="requestArea">
  <div class="row">
    <img id="avatar" class="col-xs-3 col-md-2" src="https://tootle.co.in:3000/images/other/default-avatar.jpg" alt="Avatar picture" width="90" height="130">
    <p *ngIf="currentUserId === request.user.id" class="col-xs-3">{{ request.friend.name }}</p>
    <p *ngIf="currentUserId === request.friend.id" class="col-xs-3">{{ request.user.name }}</p>
  </div>
  <button class="btn btn_custom center-block" (click)="applyRequest(request.user.id)">{{'BTN_APPLY_TEXT' | translate}}</button>
</div>
