<div class="containerEdit">

<div class="onoffswitch center-block">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>

<div id="profileBody" class="row">

	<div class="col-md-4 col-md-push-4">
		<p class="text-center textOutline">{{user.name}} {{user.lastName}}</p>
		<img id="avatar" class="center" src="https://tootle.co.in:3000/images/other/default-avatar.jpg" alt="Avatar picture">
		<p class="text-center textOutline">Status</p>
	</div>

	<div class="col-md-4 col-md-pull-4 sideBar">
		<p class="txtField"><span class="txtFieldText textOutline">Gender: </span> Male</p>
		<p class="txtField"><span class="txtFieldText textOutline">About: </span> Some random text about this guy</p>
	</div>

	<div class="col-md-4 sideBar">
		<p class="txtField"><span class="txtFieldText textOutline">Relationship: </span> [some value]</p>
		<p class="txtField"><span class="txtFieldText textOutline">Location: </span>[some value]</p>
		<p class="txtField"><span class="txtFieldText textOutline">Workplace: </span>[some value]</p>
	</div>
</div>

<hr>

<div id="boardList">
	<a class="row" href="">
		<p class="col-xs-8 col-md-9">"Sample board name" - [number of replies]</p>
		<p class="col-xs-4 col-md-3">[Likes] / [Dislikes]</p>
	</a>
	<a  class="row" href="">
		<p class="col-xs-8 col-md-9">"Sample board name 2" - [number of replies]</p>
		<p class="col-xs-4 col-md-3">[Likes] / [Dislikes]</p>
	</a>
</div>

</div>
