#profileBody {
	display: block;
}

.sideBar {
	display: block;
	background: #D39797;
	border: 2px solid rgba(0,0,0,.3);
	border-radius: 8px;
	margin-bottom: 1em;
}
.sideBar p {
	display: block;
}

#avatar {
	max-width: 90%;
}

.txtFieldText {
	font-weight: 800;
}

.txtField {
	display: block;
	min-height: 100%;
}

.txtField + .txtField {
	border-top: 2px solid rgba(0,0,0,.3);
}


#boardList a {
	color: white;
	font-weight: 800;
	background: #D39797;
	display: block;
	margin: 1em 1em;
	padding: 0.5em 0.5em;
	border: 2px solid rgba(0,0,0,.5);
	border-radius: 8px;
}
#boardList a p {
	display: inline-block;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.center {
	display: block;
	margin: 0 auto;
}

/* Switch CSS */

.onoffswitch {
    position: relative; width: 98px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ONLINE";
    padding-left: 5px;
    background-color: #810000; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFFLINE";
    padding-right: 5px;
    background-color: #D39797; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 4px;
    background: #5D0000;
    position: absolute; top: 0; bottom: 0;
    right: 64px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}