<div class="boardArea">
  <div>
    {{ board.likes.toString() }}
    <a [routerLink]="['/boards', board.id]" style="color: white;">{{ board.name }} - {{ replyCount }} replies</a>
    <p style="display: inline-block; float: right;">{{ board.likes.length }} / {{ board.dislikes.length }}</p>
    <div>
      <button (click)="like(board.id)" class="btn_custom" type="button">Like</button>
      <button (click)="dislike(board.id)" class="btn_custom" type="button">Dislike</button>
    </div>
  </div>
</div>
