#body {
  padding: .5em .1em;
  border: 1px solid rgba(0,0,0,0.5);
  background: #D39797;
}

.field {
  margin: .5em 0em;
  padding: 0 1em;
  width: 100%;
  text-align: center;
}

#name {
  padding-right: .5em;
}
#lastName {
  padding-left: .5em;
}

.nameBlock {
  padding: 0 0;
}

.nameText {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
}

select {
  color: black;
  width: 100%;
  height: 2em;
}

input {
  width: 100%;
  height: 2em;
}

textarea {
  min-height: 5em;
  color: black;
  width: 100%;
  display: block;
  resize: none;
  margin: 0;
  padding: 0;
}
