<form #form="ngForm" (ngSubmit)="form.valid && updateUserInfo()">
  <pre>{{user | json}}</pre>
  <div id="body">
    <div class="row field">
      <div id="name" class="col-xs-6 nameBlock">
        <input class="nameText" type="text" name="name" maxlength="10" minlength="4" placeholder="{{'PLACEHOLDER_NAME_TEXT' | translate}}" [(ngModel)]="user.name" #name="ngModel" required>
        <div class="pull-left" *ngIf="name.invalid && (name.touched || form.submited)">
          <small class="text-danger" *ngIf="name.errors.required">
            {{'ERR_NAME_REQUIRED' | translate}}.
          </small>
          <div class="text-danger" *ngIf="name.errors.minlength">
            {{'ERR_NAME_MIN_LENGTH' | translate}}.
          </div>
        </div>
      </div>
      <div id="lastName" class="col-xs-6 nameBlock">
        <input class="nameText" type="text" name="lastName" maxlength="10" minlength="4" placeholder="{{'PLACEHOLDER_LASTNAME_TEXT' | translate}}" [(ngModel)]="user.lastName" #lastName="ngModel" required>
        <div class="pull-left" *ngIf="lastName.invalid && (lastName.touched || form.submited)">
          <small class="text-danger" *ngIf="lastName.errors.required">
            {{'ERR_LASTNAME_REQUIRED' | translate}}.
          </small>
          <div class="text-danger" *ngIf="lastName.errors.minlength">
            {{'ERR_LASTNAME_MIN_LENGTH' | translate}}.
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <textarea placeholder="{{'PLACEHOLDER_ABOUT_TEXT' | translate}}" maxlength="300" [(ngModel)]="user.about" #about="ngModel" name="about"></textarea>
    </div>
    <div class="field">
      <ng-select class="custom" name="location" [items]="locations"
                 bindLabel="city"
                 bindValue="id"
                 placeholder="{{'PLACEHOLDER_SELECT_CITY_TEXT' | translate}}"
                 [(ngModel)]="user.locationId">
        <ng-template ng-label-tmp let-item="item">
          {{item.country}}, {{item.city}}{{item.street?',':''}} {{item.street}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div><b>{{'CITY_TEXT' | translate}}:</b> {{item.city}}</div>
          <small *ngIf="!item.street">{{'COUNTRY_TEXT' | translate}}: {{item.country}}</small>
          <small *ngIf="item.street">{{'COUNTRY_TEXT' | translate}}: {{item.country}} | {{'STREET_TEXT' | translate}}: {{item.street}}</small>
        </ng-template>
      </ng-select>
    </div>

    <div class="row field">
      <button type="button" class="btn-default btn_custom" (click)="locationModal.open()">{{'BTN_NEW_LOCATION' | translate}}</button>
    </div>

    <div class="field">
      <ng-select name="workplace" [items]="workplaces"
                 bindLabel="companyName"
                 bindValue="id"
                 placeholder="{{'PLACEHOLDER_SELECT_WORKPLACE_TEXT' | translate}}"
                 [(ngModel)]="user.workplaceId">
        <ng-template ng-label-tmp let-item="item">
          {{item.companyName}}, {{item.location.city}}{{item.location.street?',':''}} {{item.location.street}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div><b>{{'COMPANY_TEXT' | translate}}:</b> {{item.companyName}}</div>
          <small *ngIf="!item.street">{{'COUNTRY_TEXT' | translate}}: {{item.location.country}}</small>
          <small *ngIf="item.street">{{'COUNTRY_TEXT' | translate}}: {{item.location.country}} | {{'STREET_TEXT' | translate}}: {{item.location.street}}</small>
        </ng-template>
      </ng-select>
    </div>
    <div class="row field">
      <button type="button" class="btn-default btn_custom" (click)="workplaceModal.open()">{{'BTN_NEW_WORKPLACE' | translate}}</button>
    </div>

    <div class="row field">
      <ng-select name="gender" [items]="genders"
                 required
                 bindValue="value"
                 placeholder="{{'PLACEHOLDER_GENDER_TEXT' | translate}}"
                 [(ngModel)]="user.gender" #gender="ngModel">
        <ng-template ng-label-tmp ng-option-tmp let-item="item">
          {{item.title | translate}}
        </ng-template>
      </ng-select>
      <div class="pull-left" *ngIf="gender.invalid && (gender.touched || form.submited)">
        <small class="text-danger" *ngIf="gender.errors.required">
          {{'ERR_GENDER_REQUIRED' | translate}}.
        </small>
      </div>
    </div>
    <div *ngIf="user.gender===1" class="field">
      <input class="nameText" type="text" name="customGender" maxlength="9" minlength="4" placeholder="{{'PLACEHOLDER_TYPE_IN_GENDER_TEXT' | translate}}" [(ngModel)]="user.customGender" #customGender="ngModel" required>
      <div class="pull-left" *ngIf="customGender.invalid && (customGender.touched || form.submited)">
        <small class="text-danger" *ngIf="customGender.errors.required">
          {{'ERR_FIELD_REQUIRED' | translate}}.
        </small>
        <div class="text-danger" *ngIf="name.errors.minlength">
          {{'ERR_GENDER_MIN_LENGTH' | translate}}.
        </div>
      </div>
    </div>
    <div class="field">
      <ng-select name="relationship" [items]="relations"
                 bindValue="value"
                 placeholder="{{'PLACEHOLDER_RELATIONSHIP_TEXT' | translate}}"
                 [(ngModel)]="user.relationship" #relationship="ngModel">
        <ng-template ng-label-tmp ng-option-tmp let-item="item">
          {{item.title | translate}}
        </ng-template>
      </ng-select>
    </div>


    <button type="submit" [disabled]="!form.valid || !form.touched" class="btn-default btn_custom center-block">{{'BTN_APPLY_TEXT' | translate}}</button>
  </div>
</form>

<location-modal #locationModal (change)="onNewLocationAdded($event)"></location-modal>
<workplace-modal #workplaceModal (change)="onNewWorkplaceAdded($event)"></workplace-modal>

