<form #f="ngForm" (ngSubmit)="updateUserInfo()" novalidate>
  <div id="body">
    <div class="row field">
      <div id="name" class="col-xs-6 nameBlock">
        <input class="nameText" type="text" name="name" placeholder="Name" [(ngModel)]="user.name" #name="ngModel">
      </div>
      <div id="lastName" class="col-xs-6 nameBlock">
        <input class="nameText" type="text" name="lastName" placeholder="Last Name" [(ngModel)]="user.lastName" #lastName="ngModel">
      </div>
    </div>
    <div class="field">
      <textarea placeholder="Descripe yourself here" [(ngModel)]="user.about" #about="ngModel" name="about"></textarea>
    </div>
    <div class="field">
      <ng-select name="location" [items]="locations"
                 bindLabel="city"
                 bindValue="id"
                 placeholder="Select city"
                 [(ngModel)]="user.locationId">
        <ng-template ng-label-tmp let-item="item">
          {{item.country}}, {{item.city}}, {{item.street}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div><b>City:</b> {{item.city}}</div>
          <small *ngIf="!item.street">Country: {{item.country}}</small>
          <small *ngIf="item.street">Country: {{item.country}} | Street: {{item.street}}</small>
        </ng-template>
      </ng-select>
    </div>
    <div class="field">
      <!--<ng-select [allowClear]="true"
                 [items]="workplaces"
                 [disabled]="disabled"
                 (data)="refreshValue($event)"
                 (selected)="selected($event)"
                 (removed)="removed($event)"
                 (typed)="typed($event)"
                 placeholder="No workplace selected">
      </ng-select>-->
    </div>
    <div class="field">
      <!--<ng-select [allowClear]="true"
                 [items]="genders"
                 [disabled]="disabled"
                 (data)="refreshValue($event)"
                 (selected)="selected($event)"
                 (removed)="removed($event)"
                 (typed)="typed($event)"
                 placeholder="Gender">
      </ng-select>-->
    </div>
    <div class="field">
      <!--<ng-select [allowClear]="true"
                 [items]="relationships"
                 [disabled]="disabled"
                 (data)="refreshValue($event)"
                 (selected)="selected($event)"
                 (removed)="removed($event)"
                 (typed)="typed($event)"
                 placeholder="Relationship">
      </ng-select>-->
    </div>
    <div class="field">
      <!--<ng-select [allowClear]="true"
                 [items]="templates"
                 [disabled]="disabled"
                 (data)="refreshValue($event)"
                 (selected)="selected($event)"
                 (removed)="removed($event)"
                 (typed)="typed($event)"
                 placeholder="Choose a template">
      </ng-select>-->
    </div>
    <div class="field">
      <!--<ng-select [allowClear]="true"
                 [items]="colors"
                 [disabled]="disabled"
                 (data)="refreshValue($event)"
                 (selected)="selected($event)"
                 (removed)="removed($event)"
                 (typed)="typed($event)"
                 placeholder="Template color">
      </ng-select>-->
    </div>


    <button class="btn-default btn_custom center-block">Apply</button>
  </div>
</form>
