.fieldWrap{
	border: 2px solid black;
	background: #D39797;
	margin-bottom: 1em;
	padding: 1em 1em;
}

h1{
	text-align: center;
	color: black;
	font-weight: 800;
	text-shadow: 0 3px 5px rgba(0,0,0,.6);
}


.boldLables {
	font-weight: 800;
	color: GhostWhite;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.text-right{
	margin-left: 13%;
}
.inputBlock {
	width: 300px;
    height: 300px;
    text-align: center;
    position: relative;
    left:auto; right:auto;
    top:4em; bottom:auto;
    margin:auto;    
    padding: 1em 1em;
}

.btn_custom {
	background: #810000;
	color: GhostWhite;
	border: none;
	border-radius: 8px;
	margin-bottom: 1em;
}
.btn_custom:hover {
	background: #5D0000;
}
.btn_custom:hover a{
	color: GhostWhite;
	text-decoration: none;
}

.userAbout {
  width: 66.5%;
  height: 10em;
  resize: none;
  color: black;
  border: 1px solid rgba(0,0,0,.6);
}

#userAElement{
	padding-left: 27.5%;
}

.userLocation{
  width: 66.5%;
  height: 2em;
  resize: none;
  color: black;
  border: 1px solid rgba(0,0,0,.6);
}

#MySelect{
    margin-left:27.5%;
    width:48.3%;
    height: 2em;
    color: black;
    text-align: left;
  	text-align-last: left;
}


input{
  color: black;
  border: 1px solid rgba(0,0,0,.6);
  margin-left:0;
  width: 50%;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

textarea {
  border: none;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}
