<!-- <div id="topForm">
	<form id="searchForm">
  		<div class="input-group">
    		<input type="text" class="form-control" placeholder="Find chat by name">
    		<div class="input-group-btn">
      			<button class="btn btn-default" type="submit">
        			<i class="glyphicon glyphicon-search"></i>
      			</button>
    		</div>
  		</div>
	</form>

	<a id="addBtnLink" routerLink="/chats/create"><button class="btn-default btn_custom">Add Chat</button></a>
</div>

<div id="chatList">
	<a class="chat" href="">
		<p class="textOutline">Sample chat name</p>
		<hr>
		<div>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18527846_1352417654827677_8458244648201446402_n.jpg?oh=ac44e86d62197566f5456267ab09ce11&oe=5A99DEC9">
			</a>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18447393_104617586788193_8396237319942475111_n.jpg?oh=de469de9b22d45e54b934da8f7b97a83&oe=5A94BB51">
			</a>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/20727853_1652395331499464_3059013772152303553_n.jpg?oh=e1d49d85352840245adc574397fb54f6&oe=5A9628B4">
			</a>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/19894900_1376367669114045_5966492101661205104_n.jpg?oh=9cc78df53b665416b912515f7b2d2b65&oe=5A9CBEC5">
			</a>
		</div>
	</a>
	<a class="chat" href="">
		<p class="textOutline">Sample chat name 2</p>
		<hr>
		<div>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18527846_1352417654827677_8458244648201446402_n.jpg?oh=ac44e86d62197566f5456267ab09ce11&oe=5A99DEC9">
			</a>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/19894900_1376367669114045_5966492101661205104_n.jpg?oh=9cc78df53b665416b912515f7b2d2b65&oe=5A9CBEC5">
			</a>
		</div>
	</a>
</div> -->

<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
				<p>Mike Ross</p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search chats..." />
		</div>
		<div id="contacts">
			<div *ngFor="let chat of chats">
				<chat-preview [chat]="chat" [user]="user" [isSelected]="selectedChat?.id === chat.id" (click)="selectedChat = chat"></chat-preview>			
				<!-- <li class="contact active">
					<div class="wrap">
						<span class="contact-status busy"></span>
						<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
						<div class="meta">
							<p class="name">Harvey Specter</p>
							<p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status away"></span>
						<img src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
						<div class="meta">
							<p class="name">Rachel Zane</p>
							<p class="preview">I was thinking that we could have chicken tonight, sounds good?</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" />
						<div class="meta">
							<p class="name">Donna Paulsen</p>
							<p class="preview">Mike, I know everything! I'm Donna..</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status busy"></span>
						<img src="http://emilcarlsson.se/assets/jessicapearson.png" alt="" />
						<div class="meta">
							<p class="name">Jessica Pearson</p>
							<p class="preview">Have you finished the draft on the Hinsenburg deal?</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="http://emilcarlsson.se/assets/haroldgunderson.png" alt="" />
						<div class="meta">
							<p class="name">Harold Gunderson</p>
							<p class="preview">Thanks Mike! :)</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="http://emilcarlsson.se/assets/danielhardman.png" alt="" />
						<div class="meta">
							<p class="name">Daniel Hardman</p>
							<p class="preview">We'll meet again, Mike. Tell Jessica I said 'Hi'.</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status busy"></span>
						<img src="http://emilcarlsson.se/assets/katrinabennett.png" alt="" />
						<div class="meta">
							<p class="name">Katrina Bennett</p>
							<p class="preview">I've sent you the files for the Garrett trial.</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="http://emilcarlsson.se/assets/charlesforstman.png" alt="" />
						<div class="meta">
							<p class="name">Charles Forstman</p>
							<p class="preview">Mike, this isn't over.</p>
						</div>
					</div>
				</li>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="" />
						<div class="meta">
							<p class="name">Jonathan Sidwell</p>
							<p class="preview"><span>You:</span> That's bullshit. This deal is solid.</p>
						</div>
					</div>
				</li> -->
			</div>
		</div>
		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Create chat</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<chat-content [chat]="selectedChat" [user]="user" [loading]="loading" (newMessage)="sendMessage($event)" (newPage)="getNextMessages(selectedChat, $event)" ></chat-content>
</div>