<div id="topForm">
	<form id="searchForm">
  		<div class="input-group">
    		<input type="text" class="form-control" placeholder="Find chat by name">
    		<div class="input-group-btn">
      			<button class="btn btn-default" type="submit">
        			<i class="glyphicon glyphicon-search"></i>
      			</button>
    		</div>
  		</div>
	</form>

	<a id="addBtnLink" routerLink="/chat-list/createchat"><button class="btn-default btn_custom">Add Chat</button></a>
</div>

<div id="chatList">
	<a class="chat" href="">
		<p class="textOutline">Sample chat name</p>
		<hr>
		<div>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18527846_1352417654827677_8458244648201446402_n.jpg?oh=ac44e86d62197566f5456267ab09ce11&oe=5A99DEC9">
			</a>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18447393_104617586788193_8396237319942475111_n.jpg?oh=de469de9b22d45e54b934da8f7b97a83&oe=5A94BB51">
			</a>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/20727853_1652395331499464_3059013772152303553_n.jpg?oh=e1d49d85352840245adc574397fb54f6&oe=5A9628B4">
			</a>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/19894900_1376367669114045_5966492101661205104_n.jpg?oh=9cc78df53b665416b912515f7b2d2b65&oe=5A9CBEC5">
			</a>
		</div>
	</a>
	<a class="chat" href="">
		<p class="textOutline">Sample chat name 2</p>
		<hr>
		<div>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18527846_1352417654827677_8458244648201446402_n.jpg?oh=ac44e86d62197566f5456267ab09ce11&oe=5A99DEC9">
			</a>
			<a href="">
				<img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/19894900_1376367669114045_5966492101661205104_n.jpg?oh=9cc78df53b665416b912515f7b2d2b65&oe=5A9CBEC5">
			</a>
		</div>
	</a>
</div>
