<ng-template #template>
  <div class="modal-header">
    <h4 style="color: black" class="modal-title pull-left">Change your photo:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="f.vaild && uploadFile()" novalidate>
      <div class="dataBlock">
        <h1 style="color: black">Change avatar</h1>
        
        <div class="row">
          <div class="col-xs-6">
            <p style="color: black" class="boldLables text-right">Image:</p>
          </div>
          <div class="col-xs-6">
            <label for="file">Choose File</label>
            <input type="file" id="file" (change)="onFileChange($event)">
          </div>
        </div>

        <button type="submit" *ngIf="fileToUpload != null" class="btn btn-primary center-block" (click)="uploadFile()">Save</button>
      </div>
    </form>
  </div>
</ng-template>
