<mat-sidenav #sidenav class="example-sidenav" [fixedInViewport]="fixed" [fixedTopGap]="fixedTop" [fixedBottomGap]="fixedBottom">
  <div *ngIf="isAuthenticated" class="signed">
    <a class="btn_custom">{{'BTN_LOGOUT_TEXT' | translate}}</a>
    <a routerLink="/settings" class="btn_custom">{{'BTN_SETTINGS_TEXT' | translate}}</a>
  </div>
  <div *ngIf="!isAuthenticated" class="unsigned">
    <a routerLink="/login" class="btn_custom">{{'BTN_LOGIN_TEXT' | translate}}</a>
    <a routerLink="/registration" class="btn_custom">{{'BTN_REGISTER_TEXT' | translate}}</a>
  </div>
  <hr>
  <div *ngIf="isAuthenticated" class="signed">
    <a [routerLink]="['/profile', userId]" class="btn_custom">{{'BTN_PROFILE_TEXT' | translate}}</a>
    <a routerLink="/chats" class="btn_custom">{{'BTN_MESSAGES_TEXT' | translate}}</a>
    <a routerLink="/groups" class="btn_custom">{{'BTN_GROUPS_TEXT' | translate}}</a>
    <a routerLink="/boards" class="btn_custom">{{'BTN_BOARDS_TEXT' | translate}}</a>
  </div>

</mat-sidenav>


<div class="container">
  <header class="block">
    <div class="row visible-xs-block">
      <div id="logo" class="col-xs-3">
        <img src="../assets/LOGO.png">
      </div>
      <div class="col-xs-4"></div>
      <div class="col-xs-5">
        <div class="example-sidenav-content">
          <button mat-mini-fab style="position: fixed; top:15px; right:30px; z-index:15" (click)="sidenav.toggle()">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row hidden-xs">
      <div id="logo" class="col-xs-6 col-sm-2">
        <img src="../assets/LOGO.png">
      </div>
      <div id="sideButtons" class="col-xs-6 col-sm-2 col-sm-push-8">
        <div *ngIf="isAuthenticated" class="signed">
          <button routerLink="/login" class="btn_custom">{{'BTN_LOGOUT_TEXT' | translate}}</button>
          <button routerLink="/settings" class="btn_custom">{{'BTN_SETTINGS_TEXT' | translate}}</button>
        </div>
        <div *ngIf="!isAuthenticated" class="unsigned">
          <button routerLink="/login" class="btn_custom">{{'BTN_LOGIN_TEXT' | translate}}</button>
          <button routerLink="/registration" class="btn_custom">{{'BTN_REGISTER_TEXT' | translate}}</button>
        </div>
        <ng-select name="language" [items]="languages"
                   bindValue="value"
                   placeholder="{{'PLACEHOLDER_GENDER_TEXT' | translate}}"
                   (change)="switchLanguage()"
                   [clearable]="false"
                   [(ngModel)]="selectedLang" #language="ngModel">
          <ng-template ng-label-tmp ng-option-tmp let-item="item">
            <span class="flag-icon {{item.icon}} flag-icon-squared"></span> {{item.title}}
          </ng-template>
        </ng-select>

      </div>
      <div class="col-xs-12  col-sm-8 col-sm-pull-2">
        <div class="row">
          <div id="searchBlock" class="col-xs-12">

            <div *ngIf="isAuthenticated" class="signed">
              <form id="searchForm">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{{'PLACEHOLDER_FIND_A_PERSON_TEXT' | translate}}" [(ngModel)]="searchByWord" #searchBy="ngModel" name="searchByWord">
                  <div class="input-group-btn">
                    <button [routerLink]="['/users', searchByWord]" class="btn btn-default" type="button">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="buttonsMenu" class="col-xs-12">
            <div *ngIf="isAuthenticated" class="signed">

              <button [routerLink]="['/profile', userId]" class="btn_custom">{{'BTN_PROFILE_TEXT' | translate}}</button>
              <button [routerLink]="['/chats']" class="btn_custom">{{'BTN_MESSAGES_TEXT' | translate}}</button>
              <button [routerLink]="['/groups']" class="btn_custom">{{'BTN_GROUPS_TEXT' | translate}}</button>
              <button [routerLink]="['/boards']" class="btn_custom">{{'BTN_BOARDS_TEXT' | translate}}</button>
            </div>

            <div *ngIf="isAuthenticated" class="signed">
              <button [routerLink]="['/requests']" class="btn_custom">{{'BTN_REQUESTS_TEXT' | translate}}</button>
              <button [routerLink]="['/contacts']" class="btn_custom">{{'BTN_CONTACTS_TEXT' | translate}}</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </header>
</div>
